[PLAsTiCC Astronomical Classification | Kaggle](https://www.kaggle.com/c/PLAsTiCC-2018)

Code Link: [Github](https://github.com/AutuanLiu/Kaggle-Compettions/tree/master/PLAsTiCC%20Astronomical%20Classification)
#### Ref Links
1. [Naive Benchmark - Galactic vs Extragalactic | Kaggle](https://www.kaggle.com/kyleboone/naive-benchmark-galactic-vs-extragalactic)
2. [The Astronomical (complete) EDA - PLAsTiCC dataset | Kaggle](https://www.kaggle.com/danilodiogo/the-astronomical-complete-eda-plasticc-dataset)
3. [All Classes Light Curve Characteristics | Kaggle](https://www.kaggle.com/mithrillion/all-classes-light-curve-characteristics)
4. [Simple Neural Net for Time Series Classification | Kaggle](https://www.kaggle.com/meaninglesslives/simple-neural-net-for-time-series-classification)
5. [Dataset overview - Exploration and comments | Kaggle](https://www.kaggle.com/hrmello/dataset-overview-exploration-and-comments)
6. [Strategies for Flux Time Series Preprocessing | Kaggle](https://www.kaggle.com/mithrillion/strategies-for-flux-time-series-preprocessing)
7. [The PLAsTiCC Astronomy "Starter Kit" | Kaggle](https://www.kaggle.com/michaelapers/the-plasticc-astronomy-starter-kit)

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
import re
from collections import Counter
from sklearn.preprocessing import LabelEncoder
sns.set_style('whitegrid')
sns.set_palette('Set1')

## 1 导入数据

In [3]:
datadir = 'dataset/'

In [4]:
# read data from file
# train_data = pd.read_csv(f'{datadir}training_set.csv')
# test_data = pd.read_csv(f'{datadir}test_set.csv')
train_metadata = pd.read_csv(f'{datadir}training_set_metadata.csv')
# test_metadata = pd.read_csv(f'{datadir}test_set_metadata.csv')

## 2 数据基本信息

In [5]:
train_metadata.describe()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
count,7.848000e+03,7848.000000,7848.000000,7848.000000,7848.000000,7848.000000,7848.000000,7848.000000,7848.000000,5523.000000,7848.000000,7848.000000
mean,4.810375e+07,169.719379,-27.254846,230.466784,-20.115526,0.269623,0.254436,0.357885,0.155695,41.263961,0.081953,60.895387
std,4.347364e+07,114.212761,20.248556,97.416392,40.390899,0.443792,0.330053,0.545552,0.300367,2.262711,0.150598,28.767984
min,6.150000e+02,0.175781,-64.760857,0.107681,-89.615573,0.000000,0.000000,0.000000,0.000000,31.996100,0.003000,6.000000
25%,3.180865e+05,62.402344,-44.597992,207.248509,-54.509752,0.000000,0.000000,0.000000,0.000000,39.845250,0.018000,42.000000
50%,4.131719e+07,150.996094,-27.279613,244.127187,-30.217582,0.000000,0.182750,0.210300,0.018000,41.167900,0.032000,65.000000
75%,8.665901e+07,282.875976,-8.838267,313.224277,16.913859,1.000000,0.350125,0.431200,0.122375,42.398550,0.076000,90.000000
max,1.307798e+08,359.824219,4.181528,359.943827,65.931317,1.000000,3.445100,2.999400,1.734800,47.025600,2.747000,95.000000

In [6]:
train_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7848 entries, 0 to 7847
Data columns (total 12 columns):
object_id             7848 non-null int64
ra                    7848 non-null float64
decl                  7848 non-null float64
gal_l                 7848 non-null float64
gal_b                 7848 non-null float64
ddf                   7848 non-null int64
hostgal_specz         7848 non-null float64
hostgal_photoz        7848 non-null float64
hostgal_photoz_err    7848 non-null float64
distmod               5523 non-null float64
mwebv                 7848 non-null float64
target                7848 non-null int64
dtypes: float64(9), int64(3)
memory usage: 735.8 KB

In [7]:
for v in train_metadata.columns:
    print(v, train_metadata[v].isna().sum())

object_id 0
ra 0
decl 0
gal_l 0
gal_b 0
ddf 0
hostgal_specz 0
hostgal_photoz 0
hostgal_photoz_err 0
distmod 2325
mwebv 0
target 0

NameError: name 'DataFrameSummary' is not defined